# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# model
*.3ds
*.obj
*.ply
*.dae
*.blend
*.mb

# Xcode Project
xcuserdata/
*.entitlements
*.xcscheme

#OSX
.DS_Store
*.swp
*~.nib
# Thumbnails
._*

*~
.svn/
.DS_Store
*.wav
*.app/


# xml
*.*.bak

#emacs
*.*~

#movie file
*.mov
*.avi
*.mpeg


#image file
*.png
*.jpg
*.jpeg
*.tiff
*.tif
*.gif


